<% include ../header %>
    <header>
        <h1>Ntalk</h1>
        <h4>Welcome!</h4>
    </header>
    <section>
        <form action="/login" method="post">
            <input type="text" name="name" placeholder="Your Name">
            <br>
            <input type="text" name="email" placeholder="Your e-mail">
            <br>
            <button type="submit">Login</button>
        </form>
    </section>
<% include ../footer %>
